@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ewert&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  zoom: 0.75;
}

.body2 {
  background-image: url("./assets/frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 134vh;
  max-height: 134vh;
  z-index: 1;
  position: relative;
  opacity: 1;
  visibility: visible;
}

.body3 {
  background-image: url("./assets/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 133vh;
  max-height: 133vh;
}

.textnav {
  font-family: "Playfair Display";
}

.texttitle {
  font-family: "Rye";
}

.texthead {
  font-family: "Ewert";
}

.gradient {
  background: linear-gradient(#faf3e0, #e8cfb0);
}

.image-card {
  background-image: url("./assets/background.png");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
